
span {
    background-color:blue;
    width:100px;
    height:100px;
    display:inline-block;
    color:white;
    font-weight: 800;
}

#especial {
    background-color:rgba(255,0,0,0.5);
    top:20px;
    right:20px;
    position: relative;

}