
/* Contenedor principal */

body {
    font-family: Verdana, Tahoma;
    font-size: 12px;
    background: url('../img/fondo.gif');
}

p, ul, form {
    margin:0;
    padding:0;
}

/* Pruebas */
.rojo {
    color:red;
}

/**********************/

#contenedor {
    width: 700px;
    margin: 20px auto;
    border: 1px solid grey;
    /*text-align: center;*/
    background-color: #efefef;
}

header nav {
    background-image: url('../img/fondonav.gif');
    background-repeat: repeat-x;
    padding-left: 3px;
}

header a {
    color: black;
}

@media (min-width:576px){
    main {
        display: flex;
        /* los pega en los extremos del contenedor */
        justify-content: space-between;
    }
}

section {
    /*float:left;*/
    text-align: justify;
    width: 60%;
    padding:5px;
}

aside {
    /*float:right;*/
    width: 30%;
    padding: 5px;
}

aside ul li {
    list-style: none;
    list-style-image: url('../img/bullet.gif');
}

.contenedor-lateral {
    background-color: #fff;
    padding:5px;
}

.contenedor-lateral h2 {
    background-color: rgb(74, 74, 221);
    color: white;

}

form {
    padding:2px;
}

form label {
    color:rgb(135, 135, 233);
}

footer a {
    color: blue;
}

input[name="buscar"] {
    font-size: 12px;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

a:HOVER {
    text-decoration: underline;
}

/* Restaurar la forma de pintar del nave.*/
/*
.clear {
    clear: both;
}*/