:root {
    --color-seleccionado: rgb(64, 221, 64);
    --color-texto: black;
    --color-borde: rgb(199, 199, 244);
    --altura: 300px;
}

.menu-vertical {
    height: var(--altura);
}

.menu-vertical li {
    list-style: none;
    border: 1px solid var(--color-borde);
    width:100px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.menu-horizontal {
    width: 75%;
    margin: 0px auto;
    text-align: center;
}

.menu-horizontal li {
    list-style: none;
    display: inline;
    border: 1px solid var(--color-borde);
    width:100px;
    border-radius: 5px;
}

.menu-vertical li a {
    display: block;
}

.menu-horizontal li a, .menu-vertical li a {
    text-decoration: none;
    color:var(--color-texto);
    padding: 2px 10px;
    border-radius: 5px;
}

.menu-horizontal li a:HOVER, .menu-vertical li a:HOVER {
    background-color: var(--color-seleccionado);
}

.estilo-logo {
    border:0;
    width:88px;
    height:31px
}



