// Anidamientos en SASS

header, footer {
    background-color: #fff;
    height: 150px;

    nav {
        background-color: #efefef;
        border-top: 1px solid grey;

        a {
            text-decoration: none;

            // & Evita el espacio de separación
            &:hover {
                text-decoration: underline;
            }
        }
    }
}