@use 'sass:list';
@use 'sass:map';

// Bucles y listas

$porcentaje: 50%;
$colores: red yellow green orange blue black;
$medidas: width height;

// Generar los 6 encabezados con un color cada uno:
@for $i from 1 through 6 {
    h#{$i}{
        color: list.nth($colores, $i);

        @each $m in $medidas {
            #{$m}: $porcentaje;
        }
    }
}

// Definir un mapa de mapa:
// etiquetaHTML: prop1 -> valor1, 
// Generar las reglas a partir de un mapa

// Lista de etiquetas HTML
$etiquetas: p span input ul ol form;

// Mapa de propiedades:
$propiedades:
(
    "p": ("color":red, "background-color":black),
    "input": ("border": 1px solid black),
    "ul":("background-color":blue)
);

@each $etiqueta in $etiquetas {

    #{$etiqueta}{
        padding:0;
        margin:0;

        @if map.has-key($propiedades, $etiqueta){

            @each $p, $v in map.get($propiedades, $etiqueta){
                #{$p}:$v;
            }
        }
    }
}









