
$cab-color-fondo: orange;
$cab-color-texto: black;
$detalle-color-even: grey;
$detalle-color-odd: white;
$detalle-color-texto: black;

@mixin centrar {
    margin-left: auto;
    margin-right: auto;
}

@mixin tablaCSS($centrar:false, $cab-unificada:false, 
$rayada:false, $con-bordes:false, $totalizar:false){

    @if $centrar {
        @include centrar;
    }

    @if $cab-unificada {
        border-collapse: collapse;

        th {
            background-color: $cab-color-fondo;
            color: $cab-color-texto;
        }        
    }

    @if $rayada {
        tr:nth-of-type(even){
            background-color: $detalle-color-even;
        }

        tr:nth-of-type(odd){
            background-color: $detalle-color-odd;
        }
    }

    @if $con-bordes {
        border: 1px solid black;
        th, td {
            border: 1px solid black;
        }
    }

    @if $totalizar {
        tr:last-child {
            font-weight: 900;
            color:red;
        }
    }
}

.table-1 {
    @include tablaCSS($centrar:true, $con-bordes:true, 
    $rayada:true, $cab-unificada:true, $totalizar:true);
}

