/*Estilos SASS*/

// @use 'modulos/dimensiones'; // ancho: 768px 

// Modificar el ancho a 576px
@use 'modulos/dimensiones' with (
    $limite_width:576px
);

main {
    @media (max-width: dimensiones.$limite_width) {
        // Para teléfonos
        section {
            width: 100%;
            float: left;
        }

        aside {
            width: 100%;
            float: right;
        }
    }

    @media (min-width: dimensiones.$limite_width) {
        section {
            width: 50%;
            float: left;
        }

        aside {
            width: 50%;
            float: right;
        } 
        
    }
}

footer {
   float: left;
   width: 100%;
   /* clear: both; */
}