$color-texto: green;
$width: 100%;

header { 
    // Variable local al header
    $fontSize: 12px;

    h1 {
        color: $color_texto;
        font-size: $fontSize * 2;
    }       
    
    nav {

        height: 50px;

        a {
            text-decoration: none;
            color: red;
            font-size: 12px;
        }
    }
}

footer {
    // Variable local al footer
    $fontSize: 10px;

    // El cambio de la var. 
    // se hace permanente:
    $color-texto:blue !global;

    h3 {
        font-size: calc($fontSize / 2);
    }
}

form {
    color:$color-texto;
}