
header {
    h1 {
        color:red;

    }

    nav {
        a {
            text-decoration: none;

            &:HOVER {
                text-decoration: underline;
            }
        }
    }
}