// Prueba con la herencia

$color-texto: red;
$color-fondo: grey;

.base-contenedor {
    color: $color-texto;
    background-color: $color-fondo;
    font-family: Tahoma;
}

.contenedor1 {
    @extend .base-contenedor;
    border: 1px solid black;
    width: 90%;
}

.contenedor2 {
    @extend .contenedor1;
    border: 5px solid #c4c4c4;
    height:100px;
}

/* Herencia múltiple*/
.fuente2 {
    font-family: Verdana;
    font-size:24px;
}

.fuente {
    font-family: Tahoma;
    font-size:14px;
}


.colores {
    color:red;
    background-color:white;
}

.colores-fuente {
    //El orden de aquí NO afecta
    // Lo toma de la posición donde
    // están declaradas las reglas
    @extend .fuente2, .fuente, .colores;
    border: 1px solid black;
}


