/* */

body {
    font-family:Tahoma, Verdana, Arial;
    font-size: 12px;
    background-image:url('../img/fondo.gif')
}

#contenedor {
    width:700px; /* 80% */
    margin:10px auto;     
    border: 1px solid grey;
    background-color: #efefef;
}

a {
    text-decoration: none;    
}

a:HOVER {
    text-decoration: underline;
}

header img {
    width:100%;
}

header nav {
    padding-left: 3px;
    background-image: url("../img/fondonav.gif");
    background-repeat: repeat-x;
}

header a {
    color: rgb(62, 62, 220);    
}

main {
    display: flex;
}

section {
    padding:5px;
    text-align: justify;
}

aside {
    border: 1px solid grey;
    padding:5px;
}

aside ul li {
    list-style: none;
    list-style-image: url('../img/bullet.gif');
}

footer a {
    color: grey;
}

