
body {
    font-family: Tahoma, Verdana, Sans-serif;
    background: url('../img/fondo.gif');
}

#contenedor {
    border: 1px solid #b0acac;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    background-color: #fff;
}

/* Header */
header img {
    width: 100%;   
    margin-bottom: 0px;
}

header nav {
    margin-top: 0px;
    text-align: left;
    background: url('../img/fondonav.gif') repeat-x;
}

nav {
    padding-left: 15px;
}

/* main */
main {
    float:left;
    width: 60%;
    text-align: left;
    padding: 15px;
}

/* Lateral derecho */
aside {
    float: right;
    width: 30%;
}

aside:last-child ul li {
    list-style-image: url("../img/bullet.gif");
}

.tarjeta {
    background-color: rgb(202, 202, 233);
    padding: 20px;
}

.tarjeta h2 {
    color: #fff;
    background-color: rgb(49, 49, 235);
}


/* Los input de text que están dentro de la tarjeta*/
.tarjeta input[type="text"] {
    color: red;
}

/*El nombre de los input que empieza por bus */
input[name^='bus'] {
    font-weight: bold;
}

.limpiar {
    clear: both;
}

/* footer  */
footer {
    text-align: left;
}

footer nav {
    padding: 3px;
}