.col-1 {
  width: 6%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-2 {
  width: 14%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-3 {
  width: 22%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-4 {
  width: 30%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-5 {
  width: 38%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-6 {
  width: 46%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-7 {
  width: 54%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-8 {
  width: 62%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-9 {
  width: 70%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-10 {
  width: 78%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-11 {
  width: 86%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
.col-12 {
  width: 94%;
  margin: 0 1%;
  display: block;
  float: left;
  background-color: grey;
  margin-bottom: 5px;
}
