/* Custom properties */
:root {
    --color-seleccionado: rgb(147, 123, 225);
    --color-texto: black;
    --color-border: grey;
    --altura: 200px;
}

.menu-horizontal {
    width:70%;
    margin: 0px auto;
    text-align: center;
}

.menu-horizontal li {
    list-style: none;
    display: inline;
    
    border-radius:5px;
    width: 250px;
}

.menu-horizontal li a, .menu-vertical li a {
    text-decoration: none;
    color:var(--color-texto);
    padding: 2px 10px;
    border-radius:5px;
}

.menu-vertical {
    width: var(--altura);
}
.menu-vertical li {
    list-style: none;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color-border);
}

.menu-vertical li a {
    display: block;
}

.menu-horizontal li a:HOVER, .menu-vertical li a:HOVER {
    background-color: var(--color-seleccionado);
}