/* Definición de rutas 
producción
    img
        galeria

desarrollo
    img
        galeria
*/
.contenedor {
  background-image: url('desarrollo/img/galeria/logo.png');
  padding: 30px;
  margin: 10px 6.66666667px;
}
